.jumbotron{
	min-height: 50px;
	background-size: cover;
	background-attachment: fixed;

}

.jumbotron h1 {
	color: #222831;
	font-size: 150px;
	}

.jumbotron h2 {
	text-indent: 409px;
	color: #00ADB5;
}

.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #222831;
    color: #EEEEEE;
}

.button:hover {
    background-color: orange;
    color: white;
}
 
 .navbar {
 	background-color:#393E46;
 	border-color: #393E46;

	}

.nav.nav-justified li a {
	color: #00ADB5;
}


.page-header {
	font-family: 'Give You Glory', cursive;
	background-size: cover;
	color: #EEEEEE;
	border-color: #393E46;
	margin-bottom: 0px;}

.page-header h1{
	padding-top: 0px;
	font-size: 80px;
}

#main-paragraph {
	line-height: 30px;
	font-size: 120%;
	
}

#final-paragraph {
	margin: 50px 0px;}

#final-paragraph h1 {
	color: #EEEEEE;
	font-family: 'Give You Glory', cursive;
	font-size: 150px;
	margin: 50px 0px;}
