
  .navbar {
 	background-color:#393E46;
 	border-color: #393E46;

	}

.nav.nav-justified li a {
	color: #00ADB5;
}

p {
	text-align: center;
}

.page-header {
	font-family: 'Give You Glory', cursive;
	background-size: cover;
	color: #EEEEEE;
	border-color: #393E46;
	margin-bottom: 0px;}

.page-header h1{
	padding-top: 0px;
	font-size: 80px;
}

.jumbotron{
    background-image: url("recipes_header.jpg");
    min-height: 50px;
	background-size: cover;
	background-attachment: fixed;
	}

.jumbotron h1 {
	color: #222831;
	font-size: 150px;
	}

.jumbotron h2 {
	text-indent: 409px;
	color: #00ADB5;
}

#Delicious h3 {
	color: #EEEEEE;
	text-align: center;
}

#links ul {
	padding-left:0;
}

#links ul li {
	list-style-position:inside;
	font-size: 20px
}

ul li a {
	color: #EEEEEE;
}

#final-paragraph {
	margin: 50px 0px;
}

#final-paragraph h1 {
	color: #EEEEEE;
	font-family: 'Give You Glory', cursive;
	font-size: 80px;
	margin: 50px 0px;
}

.row-grid {
	margin-top: 50px;
}

.col-lg-4 {
 	padding-top: 80px
}

.form {
	padding-left: 165px
}

.lead {
	padding-top: 50px;
	padding-bottom: 50px
}
