
 
ul li {
	font-size: 20px;
	margin-top: 10px;
}

 .navbar {
 	background-color:#393E46;
 	border-color: #393E46;
	}

#myNavbar p {
 color:#EEEEEE;
 font-family: 'Give You Glory', cursive;
 font-size: 200%;
}

#myNavbar li {
	 color:#EEEEEE;
 font-size: 100%;
}


.page-header {
	font-family: 'Give You Glory', cursive;
	background-size: cover;
	color: #EEEEEE;
	border-color: #393E46;
	margin-bottom: 0px;}

.page-header h1{
	padding-top: 0px;
	font-size: 80px;
}

.jumbotron{
    background-image: url("recipes_header.jpg");
    min-height: 50px;
	background-size: cover;
	background-attachment: fixed;
	}

.jumbotron h1 {
	color: #50555f;
	font-size: 100px;
	}

.jumbotron h2 {
	text-indent: 409px;
	color: #50555f;
}

#final-paragraph {
	margin: 50px 0px;
}

#final-paragraph h1 {
	color: #EEEEEE;
	font-family: 'Give You Glory', cursive;
	font-size: 80px;
	margin: 50px 0px;
}

.row-grid {
	margin-top: 50px;
}

.col-lg-4 {
 	padding-top: 80px
}

.form {
	padding-left: 165px
}

.lead {
	padding-top: 50px;
	padding-bottom: 50px
}
